{%extends 'general.html.twig'%}
{%block title%}Create new ticket{%endblock%}
{%block body%}
    <div>
        <h2>Create new ticket</h2>
        {{form_start(form)}}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{form_widget(form.Name, {'attr':{'type':'text', 'class':'form-control', 'placeholder':
                    'Name', 'autofocus':'autofocus','required':'required'}})}}
                </div>
                <div class="form-group col-md-6">
                {{form_widget(form.Description, {'attr':{'type':'text', 'class':'form-control',
                'placeholder':'Description','required':'required','autofocus':'autofocus'}})}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{form_widget(form.AssigneeId,{'attr':{'type':'text', 'class':'form-control',
                    'placeholder':'AssigneeId:','autofocus':'autofocus','required':'required'}})}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{form_widget(form.File, {'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group col-md-6">
                    {{form_widget(form.Status, {'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group col-md-12">
                    {{form_widget(form.Submit, {'attr':{'class':'btn btn-primary btn-lg btn-block'}})}}
                    {{form_widget(form.ProjectId, {'value':(id)})}}
                    {{form_row(form.File)}}
                </div>
            </div>
        {{form_end(form)}}
    </div>
{%endblock%}
