{%extends 'general.html.twig'%}
{%block body%}
    <center>
        <h2>
            User tickets {{user.username}}
        </h2>
    </center>
    <table border=1 class="table">
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Description</th>
        </tr>
        {% for key in ticket %}
            <tr>
                <th>{{key.id}}</th>
                <th>{{key.name}}</th>
                <th><a href="/projects/tickets/{{key.id}}">{{key.description}}</a></th>
            </tr>
        {% endfor %}
    </table>
{%endblock%}
